* {
  margin: 0;
  box-sizing: border-box;
  font-family: Europa;
  -webkit-tap-highlight-color: transparent;
}

.Nav {
  display: grid;
  grid-template: 70px/12.5% 75% 1fr;
  justify-items: center;
  align-items: center;
}
.Nav .Nav__title {
  font-size: 1.125em;
  font-weight: bold;
}
.Nav .Nav__icon-image_arrow {
  grid-area: 1/1/2/2;
}
.Nav .Nav__icon-image_arrow img {
  transform: rotate(90deg);
}

.Main {
  background-color: #ECEFF0;
  text-align: center;
  padding-top: 2.375em;
}
.Main .Main__title {
  color: #87BCBF;
  font-size: 1.875em;
  font-weight: bold;
}
.Main .Main__subtitle {
  font-family: Helvetica;
  font-size: 1em;
  font-weight: lighter;
  color: #707070;
}
.Main .Main__subtitle-ruler {
  border: 1px white solid;
  width: 8%;
  margin-top: 17px;
}

.SettingsList {
  background-color: #FFFFFF;
  margin: 45px 4% 70px 4%;
  padding: 0;
  border-radius: 15px;
}
.SettingsList .settingsList__item {
  list-style: none;
  border-bottom: #F0F3F4 1px solid;
  padding: 5%;
  display: flex;
  justify-content: space-between;
}
.SettingsList .settingsList__item-category-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.Main__mode-button {
  background-color: transparent;
  display: inline-block;
  border: solid 1px #C8D1D3;
  border-radius: 25px;
  font-family: rift-soft, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  color: #334856;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 30px 15px 30px;
}

.Main__version-tag {
  font-weight: lighter;
  font-size: 0.875em;
  color: #6E8CA0;
  padding: 35px 0 30px 0;
}

.settingList__button {
  width: 50px;
  background-color: #E0E5E5;
  border-radius: 25px;
  border-style: none;
}
.settingList__button .settingsList__button-icon {
  color: white;
  font-size: 2em;
}

.settingList__button-active {
  background-color: #87BCBF;
}