
.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myInput{
    padding: 2%;
    background-image: url('/PNG/icn_search_dark.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 300px;
}

